<?xml version="1.0"?>
<TgConfig Version="3" SubLevelDisabled="False">
  <Assemblies>
    <Assembly Name="Embarcadero.Modeling.OpenAPI3" Culture="neutral" />
  </Assemblies>
  <Option Name="Formatter.Enabled" Type="System.Boolean" Category="Editor" Value="True"
    Levels="Formatter" />
  <Option Name="Formatter.Confirmation" Type="System.Boolean" Category="Editor" Value="False"
    Levels="Formatter" />
  <!-- DELPHI -->
  <!-- Indentation -->
  <Option Name="DelphiFormatter.TabSize" Type="System.Int32" Category="DelphiEditor" Value="2"
    Levels="Formatter" />
  <Option Name="DelphiFormatter.IndentSize" Type="System.Int32" Category="DelphiEditor" Value="2"
    Levels="Formatter" />
  <Option Name="DelphiFormatter.UseTabs" Type="System.Boolean" Category="DelphiEditor" Value="False"
    Levels="Formatter" />
  <!-- SubCategory=General -->
  <Option Name="DelphiFormatter.IndentAsm" Type="System.Boolean" Category="DelphiIndentation"
    Value="True" Levels="Formatter" />
  <Option Name="DelphiFormatter.IndentCompilerDirectives" Type="System.Boolean"
    Category="DelphiIndentation" Value="False" Levels="Formatter" />
  <!-- Option Name="DelphiFormatter.IndentComments" Type="System.Boolean"
  Category="DelphiIndentation" Value="True" Levels="Formatter" / -->
  <Option Name="DelphiFormatter.IndentComments"
    Type="Borland.Together.OpenAPI3.Config.INDENT_COMMENTS" Category="DelphiIndentation" Value="Yes"
    Levels="Formatter" />
  <Option Name="DelphiFormatter.IndentBlockContents" Type="System.Boolean"
    Category="DelphiIndentation" Value="True" Levels="Formatter" />
  <Option Name="DelphiFormatter.IndentBrackets" Type="System.Boolean" Category="DelphiIndentation"
    Value="False" Levels="Formatter" />
  <!-- Option Name="DelphiFormatter.AdditionalIndentComments" Type="System.Boolean"
  Category="CppIndentation" Value="False" Levels="Formatter" / -->
  <!-- Option Name="DelphiFormatter.IndentSqBrackets" Type="System.Boolean"
  Category="DelphiIndentation" Value="False" Levels="Formatter" / -->
  <Option Name="DelphiFormatter.IndentBeginAndEnd" Type="System.Boolean"
    Category="DelphiIndentation" Value="False" Levels="Formatter" />
  <Option Name="DelphiFormatter.IndentFunctionImplementationBody" Type="System.Boolean"
    Category="DelphiIndentation" Value="False" Levels="Formatter" />
  <Option Name="DelphiFormatter.IndentInnerFunctionImplementation" Type="System.Boolean"
    Category="DelphiIndentation" Value="True" Levels="Formatter" />
  <Option Name="DelphiFormatter.IndentAfterSections" Type="System.Boolean"
    Category="DelphiIndentation" Value="False" Levels="Formatter" />
  <Option Name="DelphiFormatter.IndentClassDefinitionBody" Type="System.Boolean"
    Category="DelphiIndentation" Value="False" Levels="Formatter" />
  <!-- SubCategory="CaseFormatting" -->
  <Option Name="DelphiFormatter.IndentCaseContents" Type="System.Boolean"
    Category="DelphiIndentation" SubCategory="CaseFormatting" Value="True" Levels="Formatter" />
  <Option Name="DelphiFormatter.IndentCaseLabels" Type="System.Boolean" Category="DelphiIndentation"
    SubCategory="CaseFormatting" Value="True" Levels="Formatter" />
  <!-- SubCategory="LabelsFormatting" -->
  <Option Name="DelphiFormatter.DecreaseLabelsIndent"
    Type="Borland.Together.OpenAPI3.Config.UNINDENT" Category="DelphiIndentation"
    SubCategory="LabelsFormatting" Value="ToOneIndent" Levels="Formatter" />
  <!-- Option Name="DelphiFormatter.DecreaseVisibilityLabels"
  Type="Borland.Together.OpenAPI3.Config.UNINDENT" Category="DelphiIndentation"
  SubCategory="LabelsFormatting" Value="ToOneIndent" Levels="Formatter" / -->
  <Option Name="DelphiFormatter.ContinuationIndent" Type="System.Int32" Category="DelphiIndentation"
    Value="2" Levels="Formatter" />
  <Option Name="DelphiFormatter.ExtraIndentAfterElseInCase" Type="System.Boolean"
    Category="DelphiIndentation" SubCategory="CaseFormatting" Value="False" Levels="Formatter" />
  <Option Name="DelphiFormatter.DoNotIndentAfterPos" Type="System.Int32"
    Category="DelphiIndentation" Value="40" Levels="Formatter" />
  <!-- Spaces -->
  <Option Name="DelphiFormatter.AssignSpaces" Type="Borland.Together.OpenAPI3.Config.USE_SPACE"
    Category="DelphiSpaces" SubCategory="OperatorSpacing" Value="BeforeAndAfter" Levels="Formatter" />
  <Option Name="DelphiFormatter.MathOperatorSpaces"
    Type="Borland.Together.OpenAPI3.Config.USE_SPACE" Category="DelphiSpaces"
    SubCategory="OperatorSpacing" Value="BeforeAndAfter" Levels="Formatter" />
  <Option Name="DelphiFormatter.UnaryPreOperatorSpaces"
    Type="Borland.Together.OpenAPI3.Config.USE_SPACE" Category="DelphiSpaces"
    SubCategory="OperatorSpacing" Value="None" Levels="Formatter" />
  <Option Name="DelphiFormatter.ColonSpaces" Type="Borland.Together.OpenAPI3.Config.USE_SPACE"
    Category="DelphiSpaces" Value="AfterOnly" Levels="Formatter" />
  <Option Name="DelphiFormatter.ColonInFormatSpaces"
    Type="Borland.Together.OpenAPI3.Config.USE_SPACE" Category="DelphiSpaces" Value="AsIs"
    Levels="Formatter" />
  <Option Name="DelphiFormatter.CommaSpaces" Type="Borland.Together.OpenAPI3.Config.USE_SPACE"
    Category="DelphiSpaces" Value="AfterOnly" Levels="Formatter" />
  <Option Name="DelphiFormatter.SemicolonSpaces" Type="Borland.Together.OpenAPI3.Config.USE_SPACE"
    Category="DelphiSpaces" Value="AfterOnly" Levels="Formatter" />
  <Option Name="DelphiFormatter.BracketSpaces" Type="System.Boolean" Category="DelphiSpaces"
    SubCategory="BracketsSpacingDelphi" Value="False" Levels="Formatter" />
  <Option Name="DelphiFormatter.SquareBracketSpaces" Type="System.Boolean" Category="DelphiSpaces"
    SubCategory="BracketsSpacingDelphi" Value="False" Levels="Formatter" />
  <Option Name="DelphiFormatter.TemplateBracketSpaces" Type="System.Boolean" Category="DelphiSpaces"
    SubCategory="BracketsSpacingDelphi" Value="False" Levels="Formatter" />
  <Option Name="DelphiFormatter.CommentStartInlineSpaces"
    Type="Borland.Together.OpenAPI3.Config.USE_SPACE" Category="DelphiSpaces"
    SubCategory="SetSpacingDelphiC" Value="AsIs" Levels="Formatter" />
  <Option Name="DelphiFormatter.CommentBracesSpaces"
    Type="Borland.Together.OpenAPI3.Config.INNER_OUTER_SPACE" Category="DelphiSpaces"
    SubCategory="SetSpacingDelphiC" Value="InnerOnly" Levels="Formatter" />
  <Option Name="DelphiFormatter.ResolveSpaceConflictAs"
    Type="Borland.Together.OpenAPI3.Config.SPACE_CONFLICT" Category="DelphiSpaces"
    SubCategory="SpaceConflict" Value="Space" Levels="Formatter" />
  <Option Name="DelphiFormatter.SpaceAfterFunction"
    Type="Borland.Together.OpenAPI3.Config.SPACE_AFTER" Category="DelphiSpaces" Value="No"
    Levels="Formatter" />
  <!-- Linebreacks -->
  <!--  SubCategory="NewLines" -->
  <Option Name="DelphiFormatter.NewLineAfterLabel" Type="Borland.Together.OpenAPI3.Config.LF_CASE"
    Category="DelphiLinebreaks" SubCategory="NewLines" Value="Yes" Levels="Formatter" />
  <Option Name="DelphiFormatter.NewLineForEachVarAndConstElement"
    Type="Borland.Together.OpenAPI3.Config.LF_CASE" Category="DelphiLinebreaks"
    SubCategory="NewLines" Value="Yes" Levels="Formatter" />
  <Option Name="DelphiFormatter.NewLineForEachUseElement"
    Type="Borland.Together.OpenAPI3.Config.LF_CASE" Category="DelphiLinebreaks"
    SubCategory="NewLines" Value="AsIs" Levels="Formatter" />
  <Option Name="DelphiFormatter.NewLineAfterUses" Type="Borland.Together.OpenAPI3.Config.LF_CASE"
    Category="DelphiLinebreaks" SubCategory="NewLines" Value="Yes" Levels="Formatter" />
  <Option Name="DelphiFormatter.NewLineForEachLabelElement"
    Type="Borland.Together.OpenAPI3.Config.LF_CASE" Category="DelphiLinebreaks"
    SubCategory="NewLines" Value="Yes" Levels="Formatter" />
  <Option Name="DelphiFormatter.NewLineBeforeBeginInControlBlock"
    Type="Borland.Together.OpenAPI3.Config.LF_CASE" Category="DelphiLinebreaks"
    SubCategory="NewLinesForBegin" Value="Yes" Levels="Formatter" />
  <Option Name="DelphiFormatter.NewLineBeforeSimpleInstructionInControlBlock"
    Type="Borland.Together.OpenAPI3.Config.LF_CASE" Category="DelphiLinebreaks"
    SubCategory="NewLinesForBegin" Value="Yes" Levels="Formatter" />
  <Option Name="DelphiFormatter.NewLineBeforeSimpleInstructionInTryCatchBlock"
    Type="Borland.Together.OpenAPI3.Config.LF_CASE" Category="DelphiLinebreaks"
    SubCategory="NewLinesForBegin" Value="Yes" Levels="Formatter" />
  <Option Name="DelphiFormatter.NewLineAfterBeginInMethodDefinition"
    Type="Borland.Together.OpenAPI3.Config.LF_CASE" Category="DelphiLinebreaks"
    SubCategory="NewLinesForBegin" Value="Yes" Levels="Formatter" />
  <Option Name="DelphiFormatter.NewLineAfterBeginInControlBlock"
    Type="Borland.Together.OpenAPI3.Config.LF_CASE" Category="DelphiLinebreaks"
    SubCategory="NewLinesForBegin" Value="Yes" Levels="Formatter" />
  <Option Name="DelphiFormatter.NewLineAfterOtherBegin"
    Type="Borland.Together.OpenAPI3.Config.LF_CASE" Category="DelphiLinebreaks"
    SubCategory="NewLinesForBegin" Value="Yes" Levels="Formatter" />
  <Option Name="DelphiFormatter.NewLineAfterSemicolon" Type="System.Boolean"
    Category="DelphiLinebreaks" SubCategory="NewLines" Value="True" Levels="Formatter" />
  <Option Name="DelphiFormatter.NewLineBetweenElseAndIf" Type="System.Boolean"
    Category="DelphiLinebreaks" SubCategory="NewLines" Value="False" Levels="Formatter" />
  <Option Name="DelphiFormatter.RemoveNewLinesInEndElseBegin" Type="System.Boolean"
    Category="DelphiLinebreaks" SubCategory="NewLines" Value="False" Levels="Formatter" />
  <Option Name="DelphiFormatter.RemoveNewLinesInEndElseIf" Type="System.Boolean"
    Category="DelphiLinebreaks" SubCategory="NewLines" Value="False" Levels="Formatter" />
  <Option Name="DelphiFormatter.NewLineInPropertyDeclaration" Type="System.Boolean"
    Category="DelphiLinebreaks" SubCategory="NewLines" Value="False" Levels="Formatter" />
  <Option Name="DelphiFormatter.NewLineFunctionAnonym1" Type="System.Boolean"
    Category="DelphiLinebreaks" SubCategory="NewLines" Value="False" Levels="Formatter" />
  <Option Name="DelphiFormatter.NewLineFunctionAnonym2" Type="System.Boolean"
    Category="DelphiLinebreaks" SubCategory="NewLines" Value="True" Levels="Formatter" />
  <Option Name="DelphiFormatter.NewLineBeforeThen" Type="System.Boolean" Category="DelphiLinebreaks"
    SubCategory="NewLines" Value="False" Levels="Formatter" />
  <Option Name="DelphiFormatter.NewLineInClassInheritances"
    Type="Borland.Together.OpenAPI3.Config.LF_CASE_EX_DELPHI" Category="DelphiLinebreaks"
    SubCategory="NewLines" Value="No" Levels="Formatter" />
  <!-- for align -->
  <Option Name="DelphiFormatter.NewLineParamTypesInFunction"
    Type="Borland.Together.OpenAPI3.Config.LF_CASE" Category="DelphiLinebreaks"
    SubCategory="NewLinesFunctions" Value="Yes" Levels="Formatter" />
  <Option Name="DelphiFormatter.NewLineParamValuesInFunction"
    Type="Borland.Together.OpenAPI3.Config.LF_CASE" Category="DelphiLinebreaks"
    SubCategory="NewLinesFunctions" Value="AsIs" Levels="Formatter" />
  <Option Name="DelphiFormatter.NewLineFunctionType" Type="Borland.Together.OpenAPI3.Config.LF_CASE"
    Category="DelphiLinebreaks" SubCategory="NewLinesFunctions" Value="No" Levels="Formatter" />
  <!--  SubCategory="NumberOfEmptyLines"  -->
  <Option Name="DelphiFormatter.MaxNumOfEmptyLines" Type="System.Int32" Category="DelphiLinebreaks"
    SubCategory="NumberOfEmptyLines" Value="1" Levels="Formatter" />
  <Option Name="DelphiFormatter.NumOfEmptyLinesAsSeparatorInInterfaceSection" Type="System.Int32"
    Category="DelphiLinebreaks" SubCategory="NumberOfEmptyLines" Value="1" Levels="Formatter" />
  <Option Name="DelphiFormatter.NumOfEmptyLinesAsSeparatorInImplementationSection"
    Type="System.Int32" Category="DelphiLinebreaks" SubCategory="NumberOfEmptyLines" Value="1"
    Levels="Formatter" />
  <Option Name="DelphiFormatter.NumOfEmptyLinesBeforeVisibility" Type="System.Int32"
    Category="DelphiLinebreaks" SubCategory="NumberOfEmptyLines" Value="0" Levels="Formatter" />
  <Option Name="DelphiFormatter.NumOfEmptyLinesBeforeSubsection" Type="System.Int32"
    Category="DelphiLinebreaks" SubCategory="NumberOfEmptyLines" Value="0" Levels="Formatter" />
  <Option Name="DelphiFormatter.NumOfEmptyLinesBeforeTypeKeyword" Type="System.Int32"
    Category="DelphiLinebreaks" SubCategory="NumberOfEmptyLines" Value="1" Levels="Formatter" />
  <Option Name="DelphiFormatter.NumOfEmptyLinesAroundSectionKeyword" Type="System.Int32"
    Category="DelphiLinebreaks" SubCategory="NumberOfEmptyLines" Value="1" Levels="Formatter" />
  <Option Name="DelphiFormatter.NumOfEmptyLinesAroundCompilerDirectives" Type="System.Int32"
    Category="DelphiLinebreaks" SubCategory="NumberOfEmptyLines" Value="0" Levels="Formatter" />
  <!-- SubCategory=General -->
  <Option Name="DelphiFormatter.LineBreak" Type="Borland.Together.OpenAPI3.Config.LF_TYPE"
    Category="DelphiLinebreaks" Value="SystemDefault" Levels="Formatter" />
  <Option Name="DelphiFormatter.RightMargin" Type="System.Int32" Category="DelphiLinebreaks"
    Value="140" Levels="Formatter" />
  <Option Name="DelphiFormatter.TrimSource" Type="System.Boolean" Category="DelphiLinebreaks"
    Value="True" Levels="Formatter" />
  <Option Name="DelphiFormatter.FormatArrayInitialization"
    Type="Borland.Together.OpenAPI3.Config.LF_ARRAY_CASE" Category="DelphiLinebreaks"
    SubCategory="NewLines" Value="AsIs" Levels="Formatter" />
  <Option Name="DelphiFormatter.KeepUserLinebreaks" Type="System.Boolean"
    Category="DelphiLinebreaks" Value="True" Levels="Formatter" />
  <!-- Capitalization -->
  <Option Name="DelphiFormatter.KeywordsCapitalization"
    Type="Borland.Together.OpenAPI3.Config.CAPITALIZATION" Category="DelphiCapitalization"
    Value="AsIs" Levels="Formatter" />
  <Option Name="DelphiFormatter.CompilerDirectivesCapitalization"
    Type="Borland.Together.OpenAPI3.Config.CAPITALIZATION" Category="DelphiCapitalization"
    Value="AsIs" Levels="Formatter" />
  <Option Name="DelphiFormatter.NumbersCapitalization"
    Type="Borland.Together.OpenAPI3.Config.CAPITALIZATION" Category="DelphiCapitalization"
    Value="AsIs" Levels="Formatter" />
  <Option Name="DelphiFormatter.OtherWordsCapitalization"
    Type="Borland.Together.OpenAPI3.Config.CAPITALIZATION" Category="DelphiCapitalization"
    Value="AsIs" Levels="Formatter" />
  <!-- Align -->
  <Option Name="DelphiFormatter.AlignAssignments" Type="System.Boolean" Category="DelphiAlign"
    SubCategory="AlignCase" Value="True" Levels="Formatter" />
  <Option Name="DelphiFormatter.AlignTypeNames" Type="System.Boolean" Category="DelphiAlign"
    SubCategory="AlignCase" Value="True" Levels="Formatter" />
  <Option Name="DelphiFormatter.AlignConst" Type="System.Boolean" Category="DelphiAlign"
    SubCategory="AlignCase" Value="True" Levels="Formatter" />
  <Option Name="DelphiFormatter.AlignInitializations" Type="System.Boolean" Category="DelphiAlign"
    SubCategory="AlignCase" Value="True" Levels="Formatter" />
  <Option Name="DelphiFormatter.AlignTypeDefs" Type="System.Boolean" Category="DelphiAlign"
    SubCategory="AlignCase" Value="True" Levels="Formatter" />
  <Option Name="DelphiFormatter.AlignParameterTypes" Type="System.Boolean" Category="DelphiAlign"
    SubCategory="AlignCase" Value="True" Levels="Formatter" />
  <Option Name="DelphiFormatter.AlignEndOfLineComments" Type="System.Boolean" Category="DelphiAlign"
    SubCategory="AlignCase" Value="True" Levels="Formatter" />
  <Option Name="DelphiFormatter.AlignProperties" Type="System.Boolean" Category="DelphiAlign"
    SubCategory="AlignCase" Value="True" Levels="Formatter" />
  <Option Name="DelphiFormatter.AlignTypeColon" Type="System.Boolean" Category="DelphiAlign"
    Value="False" Levels="Formatter" />
  <Option Name="DelphiFormatter.AlignMaxColumn" Type="System.Int32" Category="DelphiAlign"
    Value="140" Levels="Formatter" />
  <Option Name="DelphiFormatter.AlignMaxUnalignedLines" Type="System.Int32" Category="DelphiAlign"
    Value="0" Levels="Formatter" />
  <Option Name="Config.FileVersion" Type="System.String" Value="24.0.25048.9432" Category="Internal"
    IsBrowsable="False" />
  <Option Name="Config.FileSource" Type="System.String" Value="ddk_formatter.config"
    Category="Internal" IsBrowsable="False" />
  <Option Name="Config.Profile" Type="System.String" Value="ddk_formatter.config" Category="Internal"
    IsBrowsable="False" />
</TgConfig>